# Caddyfile (dev local)

# - Remplacer "localhost" par le vrai domaine

:3000 {
    reverse_proxy api:8080

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy no-referrer
    }

    encode gzip
}
